@import url("https://cdn.jsdelivr.net/npm/swagger-ui-dist@5/swagger-ui.css");

body {
  background: #f3f5ef;
}

.swagger-ui .topbar {
  background: #174c43;
}

.swagger-ui .topbar-wrapper .link span {
  color: #f3f5ef;
}

.swagger-ui .info .title {
  color: #174c43;
}

.swagger-ui .scheme-container {
  background: #e5ebe3;
  box-shadow: none;
}

.swagger-ui .btn.authorize {
  color: #174c43;
  border-color: #174c43;
}

.swagger-ui .btn.authorize svg {
  fill: #174c43;
}